{
  "parser": "babel-eslint",
  "env": {
    "browser": true, // I write for browser
    "node": true // in CommonJS
  },
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}